.task {
  font-family: Inter, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__left {
    width: 681px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 36px 92px 74px;
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.50);
  }

  &__input-select {
    width: 250px;
    padding: 20px 20px 20px 0;
    cursor: pointer;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__chapter {
    color: #252727;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__space {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #FFF;
      &-thumb {
        background-color: #D9D9D97F;
        width: 10px;
        border-radius: 3px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;
    width: 590px;
  }

  &__card {
    display: flex;
    align-items: center;
    width: 570px;
    min-height: 60px;
    border-radius: 10px;
    background: #F4F6F7;
    cursor: pointer;
    margin-left: 0;
    transition: margin-left 0.2s ease-in-out 0.1s;
    &_active {
      background: #252727;
      margin-left: 10px;
    }

    &:hover {
      margin-left: 10px;
    }
    &_active:hover {
      margin-left: 10px;
    }
  }

  &__title {
    width: 280px;
    flex-shrink: 0;
    color: #26282C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: 16px;
    margin: 0 20px;

    &_active {
      color: #FFF;
    }
  }

  &__photo {
    margin-right: 16px;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }

  &__priority {
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    width: 50px;
    color: #95989C;
    font-size: 10px;
    padding: 2px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    background: #FFF1CC;

    &_n {
      background: #FFD6BF;
    }

    &_s {
      background: #F8DE9B;
    }

    &_v {
      background: #FFB58B;
    }

    &_hidden {
      display: none;
    }
  }

  &__deadlines {
    flex-shrink: 0;
    width: 130px;
    color: #26282C;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;

    &_active {
      color: #FFF;
    }
  }
  &__arrow {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: 0 16px;
  }
  &__add-card {
    color: #89B8FA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 24px;
    border: 1px dashed #89B8FA;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s;
    margin-top: 20px;

    &:hover {
      opacity: 0.6;
    }

    &_hidden {
      display: none;
    }
  }


  &__right {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 74px 92px 36px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__details {
    color: #252727;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  &__text {
    color: #95989C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 28px 0 20px;
  }

  &__string {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__pos1 {
    flex-shrink: 0;
    color: #95989C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100px;
    margin-right: 64px;
  }

  &__pos2 {
    color: #26282C;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
